.vscode/c_cpp_properties.json
experiment/.remake-version-h
experiment/jq
experiment/jq
experiment/prod1.json
experiment/prod2.json
experiment/.libs/libjq.a
experiment/.libs/libjq.exp
experiment/.libs/libjq.la
experiment/.libs/libjq.lai
experiment/.libs/libjq.so
experiment/.libs/libjq.so.1
experiment/.libs/libjq.so.1.0.4
experiment/.libs/libjq.ver
experiment/.vscode/c_cpp_properties.json
experiment/.vscode/settings.json
experiment/src/builtin.o
experiment/src/bytecode.o
experiment/src/jq_test.o
experiment/src/lexer.o
experiment/src/locfile.o
experiment/src/.libs/builtin.o
experiment/src/.libs/bytecode.o
experiment/src/.libs/jq_test.o
experiment/src/.libs/lexer.o
experiment/src/.libs/locfile.o
experiment/.gitmodules
experiment/jq
experiment/src/builtin.o
experiment/src/bytecode.o
experiment/src/jq_test.o
experiment/src/lexer.o
experiment/src/locfile.o
experiment/src/.libs/builtin.o
experiment/src/.libs/bytecode.o
experiment/src/.libs/jq_test.o
experiment/src/.libs/lexer.o
experiment/src/.libs/locfile.o
*.o
experiment/jq
experiment/src/builtin.o
experiment/src/bytecode.o
experiment/src/.libs/*
