.vscode/c_cpp_properties.json
experiment/.remake-version-h
experiment/jq
experiment/jq
experiment/prod1.json
experiment/prod2.json
experiment/.libs/libjq.a
experiment/.libs/libjq.exp
experiment/.libs/libjq.la
experiment/.libs/libjq.lai
experiment/.libs/libjq.so
experiment/.libs/libjq.so.1
experiment/.libs/libjq.so.1.0.4
experiment/.libs/libjq.ver
experiment/.vscode/c_cpp_properties.json
experiment/.vscode/settings.json
experiment/src/builtin.o
experiment/src/bytecode.o
experiment/src/jq_test.o
experiment/src/lexer.o
experiment/src/locfile.o
experiment/src/.libs/builtin.o
experiment/src/.libs/bytecode.o
experiment/src/.libs/jq_test.o
experiment/src/.libs/lexer.o
experiment/src/.libs/locfile.o
experiment/.gitmodules
experiment/jq
experiment/src/builtin.o
experiment/src/bytecode.o
experiment/src/jq_test.o
experiment/src/lexer.o
experiment/src/locfile.o
experiment/src/.libs/builtin.o
experiment/src/.libs/bytecode.o
experiment/src/.libs/jq_test.o
experiment/src/.libs/lexer.o
experiment/src/.libs/locfile.o
*.o
experiment/jq
experiment/src/builtin.o
experiment/src/bytecode.o
/experiment/src/.libs/*
.vscode/*
*.bin
*.pyc
*.Plo
bootstrap/jq/src/.deps/*
bootstrap/jq/src/.deps/builtin.Plo
bootstrap/jq/jq
bootstrap/jq/.libs/libjq.a
*.a
bootstrap/jq/.vscode/launch.json
bootstrap/jq/src/.deps/builtin.Plo
bootstrap/jq/src/.deps/bytecode.Plo
bootstrap/jq/src/.deps/compile.Plo
bootstrap/jq/src/.deps/execute.Plo
bootstrap/jq/src/.deps/jq_test.Plo
bootstrap/jq/src/.deps/jv_alloc.Plo
bootstrap/jq/src/.deps/jv_aux.Plo
bootstrap/jq/src/.deps/jv_dtoa_tsd.Plo
bootstrap/jq/src/.deps/jv_dtoa.Plo
bootstrap/jq/src/.deps/jv_file.Plo
bootstrap/jq/src/.deps/jv_parse.Plo
bootstrap/jq/src/.deps/jv_print.Plo
bootstrap/jq/src/.deps/jv_unicode.Plo
bootstrap/jq/src/.deps/jv.Plo
bootstrap/jq/src/.deps/lexer.Plo
bootstrap/jq/src/.deps/linker.Plo
bootstrap/jq/src/.deps/locfile.Plo
bootstrap/jq/src/.deps/parser.Plo
bootstrap/jq/src/.deps/util.Plo
bootstrap/jq/src/decNumber/.deps/decContext.Plo
bootstrap/jq/src/decNumber/.deps/decNumber.Plo
bootstrap/jq/jq
test.ll
a.out
*.ll
*.out
*.Plo

*.Plo

byebye


*.a
test.sh
getouttahere
hithere
jqprgm
bootstrap/jq/ex.json
bootstrap/jq/jq
bootstrap/jq/Makefile
bootstrap/jq/.libs/libjq.a
bootstrap/jq/.libs/libjq.so.1.0.4
bootstrap/jq/src/.deps/builtin.Plo
bootstrap/jq/src/.deps/bytecode.Plo
bootstrap/jq/src/.deps/compile.Plo
bootstrap/jq/src/.deps/execute.Plo
bootstrap/jq/src/.deps/jq_test.Plo
bootstrap/jq/src/.deps/jv_alloc.Plo
bootstrap/jq/src/.deps/jv_aux.Plo
bootstrap/jq/src/.deps/jv_dtoa_tsd.Plo
bootstrap/jq/src/.deps/jv_dtoa.Plo
bootstrap/jq/src/.deps/jv_file.Plo
bootstrap/jq/src/.deps/jv_parse.Plo
bootstrap/jq/src/.deps/jv_print.Plo
bootstrap/jq/src/.deps/jv_unicode.Plo
bootstrap/jq/src/.deps/jv.Plo
bootstrap/jq/src/.deps/lexer.Plo
bootstrap/jq/src/.deps/linker.Plo
bootstrap/jq/src/.deps/locfile.Plo
bootstrap/jq/src/.deps/main.Po
bootstrap/jq/src/.deps/parser.Plo
bootstrap/jq/src/.deps/util.Plo
bootstrap/jq/src/decNumber/.deps/decContext.Plo
bootstrap/jq/src/decNumber/.deps/decNumber.Plo
cjq/frontend/.vscode/c_cpp_properties.json
cjq/frontend/.vscode/launch.json
cjq/frontend/.vscode/settings.json
cjq/frontend/frontend
entry
.vs/slnx.sqlite
cjq/frontend/src/.dirstamp
cjq/testing/prod1.json
cjq/testing/prod2.json
*.so
llvm_gen
runjq
cjq/jq/.vscode/c_cpp_properties.json
cjq/jq/.vscode/launch.json
cjq/jq/.vscode/settings.json
cjq/jq/.vscode/*
*.s
*.log
cjq/testing/basic_ops/testresults.log
analysis.txt
leak.txt
out.txt
perf.data
perf.data.old
cjq/testing/basic_ops/json/builtin_ops/flatten_large_example.json
cjq/testing/basic_ops/jq/builtin_ops/flatten_large_example.jq
*.bc
cjq/testing/basic_ops/jq/builtin_ops/flatten_large64k.jq
cjq/testing/basic_ops/json/builtin_ops/flatten_large64k.json
runjq_opt
cjq/testing/basic_ops/json/builtin_ops/flatten_large128k.json
cjq/testing/basic_ops/json/builtin_ops/flatten_large5MB.json
run
run_opt
llvmgen
dyn_op_lis.txt
cjq/testing/basic_ops/json/builtin_ops/flatten_large1MB.json
cjq/testing/basic_ops/json/builtin_ops/flatten_large512k.json
del.txt
del2.txt
